# Node and build
node_modules/
dist/
build/
.vite/

# Env
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
.vscode/

# Lockfiles
package-lock.json
yarn.lock
